
<div class='jumbotron'>
	<h1>Cookstarter</h1>
	

	<p>"You cook with the ingredients you have, not the ingredients you might want or wish to have at a later time." <em>Chef D. Rumsfeld</em></p>

	<% if user_signed_in? %>



	<% else %>

	<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %> or <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %></p>
	<% end> %>

</div>